*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}
body{
    background-color:rgb(228, 234, 236);
}
.parent-container{
    margin-left: 33%;
    margin-top: 5%;
    height:50rem;
    width:30rem;
    background-color: white;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 2px rgb(114, 149, 159);
}
header{
    display: flex;
    list-style: none;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
    color:#808382;
}
.bars{
    list-style:none; 
    
}
.playing-now-text{
    margin-left: 7.5rem;
    font-size: 1rem;
    margin-top: 1rem;
}
.add{
    margin-left: 8rem;
}
.main-container{
    list-style-type:none;
}
.song-title{
    margin-left: 15%;
}
.song-name{
    font-weight: bold;
    font-size: 1.3rem;
}
.singer-name{
    margin-left: 25%;
    margin-top: 0.3rem;
}
.image{
    margin-top: 2.5rem;
    margin-left: 17%;
    height:50%;
    width: 68%;
}
.line{
    width: 80%;
    margin-left: 10%;
    list-style: none;
}
hr{
    border:2px solid #bcc4c1;
    margin-top: 2.5rem;   
}
.text{
    margin-top: 0.5rem;
    color:#808382;
    display: flex;
}
.text2{
    margin-left: 73%;
}
.play-buttons{
    margin-left: 14%; 
    display: flex;
    color:#979c9a;
    font-size: 1.8rem;
}
.rotate-left{
    margin-top: 1rem;
    
}
.backward-step{
    margin-top: 1rem;
    margin-left: 12%;
}
.circle-play{
    margin-left: 12%;
    margin-top: 0.3rem;
    font-size: 3rem;
}
.forward-step{
    margin-left: 12%;
    margin-top: 1rem;
}
.shuffle{
    margin-left: 12%;
    margin-top: 1rem;
}
.next-playing-song-list{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 1rem;
}

.next-playing-song-list div:nth-child(2){
    position: relative;
}
.list{
    display: flex;
    margin-top: 1.7rem;
    font-size: 1.2rem;
    color: #808382;
}
.time{
    margin-left: 65%;
}
.time1{
    margin-left: 7%;
}
.time2{
    margin-left: 48%;
}
.time3{
    margin-left: 65%;
}
.dot{
    color: rgb(12, 226, 234);
    font-size: 7px;
    margin-top: 8px;
    position: absolute;
    left: -15px;
}
.song2{
    color: black;
}
